.container {
  display: grid;
  place-items: center;
  height: min-content;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
