.container {
  display: flex;
  align-items: center;
  margin-inline-end: 0.5rem;
}
.container i {
  display: block;
  color: #ffb300;
  margin-inline-end: 0.3rem;
}
.degree {
  color: var(--text-primary) !important;
  font-weight: 600;
}
