.title {
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.title p {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  border-bottom: 1px solid var(--color-dark-40);
}
.container {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 3rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.wrapper {
  width: 100%;
  height: max-content;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /* background-color: firebrick; */
}
