.back {
  position: fixed;
  inset: 0;
  background-color: var(--color-blue-gray-light);
  z-index: -1000;
}
.main {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 3rem;
  width: 100%;
  height: max-content;
  cursor: default;
  margin-top: 4rem;
  padding-bottom: 20rem;
}
.filter_section {
  height: min-content;
  padding: 2rem;
  background-color: var(--color-white);
  text-transform: capitalize;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.products_section {
  position: relative;
  overflow: hidden;
}
.filter_title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.sort {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.general_sort {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.general_sort i {
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.general_sort.show i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.absoluteBtn {
  position: absolute;
  inset: 0;
}
.sort_title {
  text-transform: capitalize;
  margin-inline-end: 1rem;
}
.dropdown {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  height: max-content;
  position: absolute;
  top: calc(100% + 2rem);
  left: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0 5px var(--color-dark-10);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 80;
}
.dropdown.show {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 1rem);
}
.dropdown__list {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}
.dropdown__item {
  padding: 1.2rem 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.dropdown__item:hover {
  background: var(--color-blue-gray-light-hover);
}
.dropdown__item:active {
  background: var(--color-blue-gray-light);
}
.dropdown__item span {
  white-space: nowrap;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.products > div {
  flex-basis: 230px;
}
.notFound {
  padding: 2rem;
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 200px;
  min-height: 100px;
  border-radius: 1rem;
  background-color: var(--color-white);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.notFound > figure {
  height: 100px;
  margin-bottom: 2rem;
}
.notFound > p {
  color: var(--color-dark-40);
}
.loading {
  display: grid;
  place-items: center;
  margin-top: 10rem;
}
@media (max-width: 670px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filter_section {
    display: none;
  }
}
@media (max-width: 556px) {
  .products > div {
    flex-basis: 100%;
  }
}
