.container {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 10%;
  width: 100%;
  height: 500px;
  margin-bottom: 8rem;
  overflow: hidden;
  background: url(../../../public/assets/images/fashion.jpg) no-repeat fixed;
  background-size: cover;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5rem;
  color: var(--color-white);
  max-width: 400px;
  overflow: hidden;
  height: 350px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.box h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.box p {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2rem;
}
.box button {
  width: max-content;
  background-color: transparent;
  animation: shake 2s infinite;
  overflow: hidden;
  -webkit-animation: shake 2s infinite;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

@keyframes shake {
  10% {
    transform: scale(1.05) rotate(5deg);
    -webkit-transform: scale(1.05) rotate(5deg);
    -moz-transform: scale(1.05) rotate(5deg);
    -ms-transform: scale(1.05) rotate(5deg);
    -o-transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
    -webkit-transform: scale(1.05) rotate(-5deg);
    -moz-transform: scale(1.05) rotate(-5deg);
    -ms-transform: scale(1.05) rotate(-5deg);
    -o-transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
    -webkit-transform: scale(1.05) rotate(5deg);
    -moz-transform: scale(1.05) rotate(5deg);
    -ms-transform: scale(1.05) rotate(5deg);
    -o-transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}
.box button a {
  display: block;
  font-weight: 600;
  color: var(--text-primary);
  background-color: var(--color-white);
  padding: 1.3rem 2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 550px) {
  .box h1 {
    font-size: 3rem;
  }
  .box p {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 2rem;
  }
} ;
