.container {
  padding-block: 2rem;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}
.item {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  white-space: nowrap;
}
.item:not(:last-child):after {
  content: "/";
  margin-inline: 0.5rem;
}
